#
# Main Harmony Hub Controller
#
ND-HH_CNTL-NAME = Harmony Hub Controller 2.0.0
ND-HH_CNTL-ICON = Input
ST-HHCNTL-ST-NAME = Node Server Connected
ST-HHCNTL-GV1-NAME = Version Major
ST-HHCNTL-GV2-NAME = Version Minor
ST-HHCNTL-GV3-NAME = Hubs
ST-HHCNTL-GV4-NAME = Debug Mode
ST-HHCNTL-GV5-NAME = Short Poll
ST-HHCNTL-GV6-NAME = Long Poll
ST-HHCNTL-GV7-NAME = Profile Status

CMD-REFRESH_CONFIG-NAME = Refresh Config
CMD-BUILD_PROFILES-NAME = Build Profile
CMD-HHCNTL-SET_SHORTPOLL-NAME = Short Poll
CMD-HHCNTL-SET_LONGPOLL-NAME = Long Poll

HUBST-0 = False
HUBST-1 = True

CMD-SET_DEBUGMODE-NAME = Debug Level
CDM-0 = All
CDM-10 = Debug
CDM-20 = Info
CDM-30 = Warning
CDM-40 = Error
CDM-50 = Critical

# Default Hub
ND-HarmonyHub-NAME = Harmony Hub
ND-HarmonyHub-ICON = Input

# Hub Status
ST-HARMONYHUB-GV1-NAME = IP Address
ST-HARMONYHUB-GV2-NAME = Port
ST-HARMONYHUB-GV3-NAME = Current Activity

# Hub Commands
CMD-HARMONYHUB-QUERY-NAME = Query
CMD-HARMONYHUB-REBOOT-NAME = Reboot
CMD-HARMONYHUB-SET_ACTIVITY-NAME = Set Activity
CMD-HARMONYHUB-CHANGE_CHANNEL-NAME = Channel
CMD-HARMONYHUB-DOF-NAME = Power Off
CMD-HARMONYHUB-DFOF-NAME = Fast Off

# Device Command
CMD-SET_BUTTON-NAME = Command
CMD-POWER_ON-NAME = Power On
CMD-POWER_OFF-NAME = Power Off
CMD-POWER_TOGGLE-NAME = Power Toggle

# Default Hub
ND-HarmonyActivity-NAME = Harmony Activity
ND-HarmonyActivity-ICON = Output

CMD-HARMONYACTIVITY-DON-NAME = Start
CMD-HARMONYACTIVITY-DOF-NAME = End

ACTST-0 = False
ACTST-1 = True
