#
# Main Harmony Hub Controller
#
ND-HarmonyController-NAME = Harmony Hub Controller 2.0.6
ND-HarmonyController-ICON = Input
ST-HHCNTL-ST-NAME = Node Server Connected
ST-HHCNTL-GV1-NAME = Version Major
ST-HHCNTL-GV2-NAME = Version Minor
ST-HHCNTL-GV3-NAME = Hubs
ST-HHCNTL-GV4-NAME = Debug Mode
ST-HHCNTL-GV5-NAME = Short Poll
ST-HHCNTL-GV6-NAME = Long Poll
ST-HHCNTL-GV7-NAME = Profile Status
ST-HHCNTL-GV8-NAME = Auto Discover
ST-HHCNTL-GV9-NAME = Activity Method
ST-HHCNTL-GV10-NAME = Watch Hubs

CMD-DISCOVER-NAME = Discover
CMD-BUILD_PROFILES-NAME = Build Profile
CMD-HHCNTL-SET_SHORTPOLL-NAME = Short Poll
CMD-HHCNTL-SET_LONGPOLL-NAME = Long Poll
CMD-HHCNTL-SET_DI_MODE-NAME = Auto Discover Mode
CMD-HHCNTL-SET_ACTIVITY_METHOD-NAME = Activity Method
CMD-HHCNTL-BUILD_PROFILE-NAME = Build Profile
CMD-HHCNTL-INSTALL_PROFILE-NAME = Install Profile
CMD-HHCNTL-UPDATE_PROFILE-NAME = Update Profile
CMD-HHCNTL-SET_WATCH_MODE-NAME = Watch Hubs

PST-0 = Unitialized
PST-1 = Not Sure
PST-2 = Discovering Hubs
PST-3 = Adding Nodes
PST-4 = Building Profile
PST-5 = Installing Profile
PST-6 = Installed
PST-7 = Write Profile Failed
PST-8 = Install Profile Failed
PST-9 = PyHarmony Discover Failed
PST-10 = Out of Date
PST-11 = Write profile.zip Failed

ADI-0 = False
ADI-1 = True

ACM-0 = None
ACM-1 = Short Poll
ACM-2 = Callback

CMD-SET_DEBUGMODE-NAME = Debug Level
CDM-0 = All
CDM-10 = Debug
CDM-20 = Info
CDM-30 = Warning
CDM-40 = Error
CDM-50 = Critical

# Default Hub
ND-HarmonyHub-NAME = Harmony Hub
ND-HarmonyHub-ICON = Input

# Hub Status
ST-HARMONYHUB-GV1-NAME = IP Address
ST-HARMONYHUB-GV2-NAME = Port
ST-HARMONYHUB-GV3-NAME = Current Activity

# Hub Commands
CMD-HARMONYHUB-QUERY-NAME = Query
CMD-HARMONYHUB-REBOOT-NAME = Reboot
CMD-HARMONYHUB-SET_ACTIVITY-NAME = Set Activity
CMD-HARMONYHUB-CHANGE_CHANNEL-NAME = Channel
CMD-HARMONYHUB-DOF-NAME = Power Off
CMD-HARMONYHUB-DFOF-NAME = Fast Off

# Device Command
CMD-SET_BUTTON-NAME = Command
CMD-POWER_ON-NAME = Power On
CMD-POWER_OFF-NAME = Power Off
CMD-POWER_TOGGLE-NAME = Power Toggle

# Default Hub
ND-HarmonyActivity-NAME = Harmony Activity
ND-HarmonyActivity-ICON = Output

CMD-HARMONYACTIVITY-DON-NAME = Start
CMD-HARMONYACTIVITY-DOF-NAME = End

ACTST-0 = False
ACTST-1 = True

# Default Device
ND-HarmonyDevice-NAME = Harmony Default Activity
ND-HarmonyDevice-ICON = Output
